/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  POPUP CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

	.arcticmodal_container_box{
		max-width: 1060px;
		/* min-height: 632px; */
		padding: 40px 40px 38px 59px;
	}
		.arcticmodal-close{
			top: 7px;
			right: 35px;
		}
		.arcticmodal-overlay, .arcticmodal-container{
			/* z-index: 9999; */
		}
/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  POPUP CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FANCYBOX CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

	.fancybox-skin{
		padding: 40px 40px 20px 40px !important;
		background: #FFF;
		border: none;
	}
		.fancybox-close{
			background: url(../plugins/fancybox/images/close_popup.png) 50% 50% no-repeat;
			top: 2px;
			right: 4px;
		}
		.fancybox-close:hover{
			opacity: 0.6;
		}
		.fancybox-title{
			font-family: 'Conv_GEORGIA';
			font-size: 18px;
			line-height: 20px;
			color: #000;
		}
		.fancybox-overlay{
			z-index: 9999;
		}
		.fancybox-opened{
			z-index: 10000;
		}
	
/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FANCYBOX CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  OWL-CAROUSEl CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

.owl-carousel .owl-item{
	z-index: 9;
}

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  OWL-CAROUSEl CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/