/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/
@media only screen and (min-width: 768px) {
	.resp_nav_btn{
		display: none;
	}
}
@media only screen and (max-width: 1366px) {
	.carousel_stock_news_item_text{
		bottom: -1px;
	}
	.carousel_stock_news_wrap{
		max-width: 100%;
		margin: 0;
	}
	.arrow_up .fa-arrow-up{
		width: 50px;
		height: 50px;
	}
	.arrow_up .fa-arrow-up:before {
	    font-size: 25px;
	    color: #888;
	    line-height: 47px;
	}
	.arrow_up {
	    right: 4px;
	    bottom: 50px;
    }
}
@media only screen and (max-width: 1299px) {
	/*-----------------  ARTICLE  ---------------*/
	.img_box2_item{
		height: 350px;
	}
	.circle_figure_order_box:not(:last-child){
		margin-bottom: 15px;	
	}
}
@media only screen and (max-width: 1280px) {
	/*-----------------  OVERALL  ---------------*/
	.overall_img_block_item{
		width: 31%;
	}
}
@media only screen and (max-width: 1269px) {
	.header_address{
		margin-left: 0;
	}
	.header_address_title,
	.header_tel{
		padding-top: 0;
	}
	.carousel_stock_news_item_text{
		font-size: 16px;
	}
	.services_box_item {
	    width: 165px;
	    margin: 0 12px;
	}
	.services_box_wrapper {
	    margin: 0px -12px;
	}
	[data-bg="bg3"]{
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}
	.services_prices_box{
		margin-top: -10px;
	}
	.services_prices_box_item{
		margin: 10px 3px 0 3px;
	}
	.img_box_item{
		width: 32%;
	}
	.img_box_item.big_item{
		width: 65.2%;
	}
	.other_img_box_item_text{
		font-size: 16px;
	}
	.other_img_block_item{
		width: 22.6%;
	}
	.grid_col,
	.gallery_img{
		height: 297px;
	}
	.gallery_wdth_1{
		width: 19%;
	}
	.gallery_wdth_2{
		width: 54%;
	}
	.gallery_wdth_3{
		width: 19%;
	}
	.gallery_wdth_4{
		width: 47.3%;
	}
	.gallery_wdth_5{
		width: 47.3%;
	}
	.gallery_wdth_6{
		width: 36.5%;
	}
	.gallery_wdth_7{
		width: 19%;
	}
	.gallery_wdth_8{
		width: 36.6%;
	}
	.gallery_wdth_9{
		width: 36.6%;
	}
	.gallery_wdth_10{				
		width: 58.1%;
	}
	.shop_figure_box{
		width: 31.844%;
	}
}
@media only screen and (max-width: 1199px){
	.arcticmodal_container_box{
		padding: 30px;
	}
	.shop_popup_colLeft{
		margin-right: 30px;
	}
}
@media only screen and (max-width: 1024px) {
	.menu_item{
		margin: 0;
	}
	.menu_link{
		padding: 5px 20px;
	}
	.score_wrap{
		max-width: 100%;
		margin: 0;
	}
}
@media only screen and (max-width: 991px) {
	.header_address_title,
	.header_address{
		font-size: 18px;
	}
	.menu_link {
	    padding: 5px 10px;
	}
	.main_slider_item,
	.main_slider_item img{
		min-height: 330px;
	}
	.services_box_item {
	    width: 130px;
	    margin: 0 5px;
	}
	.services_box_wrapper {
	    margin: 0px -5px;
	}
	[data-strip="strip1"]:before,
	[data-strip="strip2"]:before,
	[data-strip="strip3"]:before,
	[data-strip="strip4"]:before{
		left: 49%;
	}
	.services_box_item_text{
		font-size: 17px;
	}
	.services_box_item_img{
		margin-bottom: 15px;
	}
	.img_box_item {
	    width: calc(50% - 13px);
	}
	.img_box_item.big_item{
		width: calc(100% - 13px);
	}
	.other_img_block_item {
	    width: calc(33.3% - 24px);
	}
	/*-----------------  ARTICLE  ---------------*/
	.other_img_box_item_text{
		height: 45px;
		font-size: 15px;
	}
	.img_box2_item{
		height: 250px;
	}
	/*-----------------  OVERALL  ---------------*/
	.overall_img_block_item{
		margin: 0 7px 10px;
	}
	.img_box3{
		margin: 0 -7px;
	}
	.shop_figure_box{
	    width: 31.399%;
	}
	.circle_figure_order_box:last-child{
		margin-bottom: 15px;	
	}
	.can_order_box{
		margin-bottom: 33px;
	}
    .shop_popup_colLeft{
    	max-width: 360px;
    }
    #gallery a{
    	width: 113px;
    	height: 113px;
    }
    .grid_col, 
    .gallery_img {
	    height: 229px;
	}
	.gallery_wdth_2 {
	    width: 53.8%;
	}
	.gallery_wdth_8 {
	    width: 36.4%;
	}
	.gallery_wdth_10 {
	    width: 57.9%;
	}
}
@media only screen and (max-width: 865px) {
	.popup_figure_img{
		float: none;
		margin: 0 auto 20px;
	}
	.popup_figure{
		text-align: center;
	}
	.popup_figure_text{
		text-align: left;
	}

}

@media only screen and (max-width: 767px) {
	.header_tel_box{
		display: none;
	}
	.header_address{
		padding-top: 10px;
	}
	.navigation_menu{
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		width: 300px;
		height: 100%;
		padding: 10px 0 12px 10px;
		overflow: auto;
		-webkit-transform: translateX(300px);
		   -moz-transform: translateX(300px);
		    -ms-transform: translateX(300px);
		     -o-transform: translateX(300px);
		        transform: translateX(300px);
		-webkit-transition: transform ease 0.5s;
		   -moz-transition: transform ease 0.5s;
		    -ms-transition: transform ease 0.5s;
		     -o-transition: transform ease 0.5s;
		        transition: transform ease 0.5s;
		background-color: rgba(126, 168, 10, 0.85);/* #7EA80A */
		z-index: 9999;
	}
	.show_menu .navigation_menu{
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
		    -ms-transform: translateX(0);
		     -o-transform: translateX(0);
		        transform: translateX(0);
		-webkit-transition: transform ease 0.5s;
		   -moz-transition: transform ease 0.5s;
		    -ms-transition: transform ease 0.5s;
		     -o-transition: transform ease 0.5s;
		        transition: transform ease 0.5s;
	}
	.menu{
		text-align: left;
		margin: 0;
	}
		.menu_item,
		.menu_link{
			display: block;
		}
		.menu_link{
			padding: 5px 0 5px 10px;
			-webkit-transition: all 0.1s ease;
		    -moz-transition: all 0.1s ease;
		    -o-transition: all 0.1s ease;
		    transition: all 0.1s ease;
		}
		.menu_item.current .menu_link,
		.menu_link:hover{
			padding: 5px 0 5px 15px;
			background-color: rgba(84, 119, 60, .93);
			-webkit-transition: all 0.1s ease;
		    -moz-transition: all 0.1s ease;
		    -o-transition: all 0.1s ease;
		    transition: all 0.1s ease;
		}
	.resp_nav_btn{
		position: fixed;
		top: 0;
		right: 0;
		margin-top: 100px;
		display: block;
		width: 50px;
		height: 50px;
		cursor: pointer;
		background-color: #7EA80A;
		font-size: 0;
		padding: 12px 12px;
		/* border: 1px solid #9ce670; */
		border: 1px solid #7EA80A;
		-webkit-border-radius: 4px;
		        border-radius: 4px;
		z-index: 999;
		-webkit-transition: transform ease 0.5s;
	     -moz-transition: transform ease 0.5s;
	      -ms-transition: transform ease 0.5s;
	       -o-transition: transform ease 0.5s;
	          transition: transform ease 0.5s;
	}
		.resp_nav_btn span{
			height: 2px;
			background-color: #fff;
			margin-top: 5px;
			display: block;
		}
	.show_menu .resp_nav_btn{
		-webkit-transform: translateX(-300px);
		   -moz-transform: translateX(-300px);
		    -ms-transform: translateX(-300px);
		     -o-transform: translateX(-300px);
		        transform: translateX(-300px);
   	  -webkit-transition: transform ease 0.5s;
	     -moz-transition: transform ease 0.5s;
	      -ms-transition: transform ease 0.5s;
	       -o-transition: transform ease 0.5s;
	          transition: transform ease 0.5s;
	}
	.services_box_wrapper,
	.services_prices_box,
	.footer_copyright{
		text-align: center;
	}
	.services_box_item{
		float: none;
		display: inline-block;
		margin: 0 5px 10px 5px;
	}
	
	.services_prices_box_item{
		display: inline-block;
		float: none;
		text-align: left;
	}
	.img_box_item_text{
		font-size: 19px;
	}
	.img_box_item_text{
		padding: 13px 0;
		height: auto;
	}
	.contacts_list{
		width: 50%;
		margin: 0 auto 10px;
	}
	.img_box2_item.big_item {
	    width: 100%;
	    height: auto;
	}
	.img_box2_item {
	    height: auto;
	    width: auto;
	    margin-bottom: 10px;
	}
	.shop_popup_colLeft{
		float: none !important;
		margin: 0 auto 20px;
	}
	#gallery a {
	    width: calc(33.3% - 9px);
	    height: auto;
	}
	.grid_col{
		margin: 0 5px 10px 5px;
	}
	.grid_col, 
	.gallery_img{
		height: 210px;
	}
	.fancybox-skin {
    	padding: 30px 20px 10px 20px !important;
    }
}
@media only screen and (max-width: 740px) {
	/*-----------------  OVERALL  ---------------*/
	.overall_img_block_item{
		width: 31%;
	}
}
@media only screen and (max-width: 730px){
	.shop_figure_box{
	    width: 31.39%;
	}
}
@media only screen and (max-width: 728px){
	[data-strip="strip1"]:before{
		left: 78%;
		top: 0;	
	}
	[data-strip="strip2"]:before{
		background: url(../images/services_box_istrip2.2.png) 0 0 no-repeat;
		width: 208px;
	    height: 133px;
	    left: auto;
	    bottom: auto;
	    right: 57%;
	    -webkit-transform: rotate(-10deg);
	       -moz-transform: rotate(-10deg);
	        -ms-transform: rotate(-10deg);
	         -o-transform: rotate(-10deg);
	            transform: rotate(-10deg);
	    top: 80%;
	}
	[data-strip="strip3"]:before{
		top: 130px;
		left: 78%;
	}
	[data-strip="strip4"]:before{
		left: -30px;
		bottom: -34px;
		-webkit-transform: rotate(145deg);
		   -moz-transform: rotate(145deg);
		    -ms-transform: rotate(145deg);
		     -o-transform: rotate(145deg);
		        transform: rotate(145deg);
	}
	.services_box_item {
	    width: 208px;
	    margin: 0 25px 10px;
    }
}
@media only screen and (max-width: 727px){
	.shop_figure_box{
	    width: 31.3%;
	}
}
@media only screen and (max-width: 696px){
	.shop_figure_box{
	    width: 31.2%;
	}
}
@media only screen and (max-width: 664px){
	.shop_figure_box{
	    width: 31.1%;
	}
}
@media only screen and (max-width: 634px){
	.shop_figure_box{
	    width: 31%;
	}
	.circle_figure_order_box{
		margin: 0 auto 15px auto;
		display: block;
	}
}
@media only screen and (max-width: 630px) {
	.other_img_block_item {
	    width: calc(50% - 24px);
	}
}
@media only screen and (max-width: 607px){
	.shop_figure_box{
	    width: 30.9%;
	}
	.shop_figure_name_product{
		font-size: 16px;
		line-height: 40px;
		height: 40px;
	}
	.shop_figure_price{
		font-size: 19px;
	}
}
@media only screen and (max-width: 600px) {
	/*-----------------  ARTICLE  ---------------*/
	.other_img_block_item{
		width: 45%;
	}
	.img_box2_item{
		/* height: 175px; */
	}
	/*-----------------  OVERALL  ---------------*/
	.overall_img_block_item{
		width: 45%;
	}
	.main_slider_item, 
	.main_slider_item img {
	    min-height: 185px;
	}
	.main_slider .owl-controls .owl-dots .owl-dot{
		width: 10px;
		height: 10px;
	}
	.main_slider .owl-controls .owl-dots{
		bottom: 0;
	}
}
@media only screen and (max-width: 583px){
	.shop_figure_box{
    	width: calc(50% - 14px);
    	margin: 0 7px 10px;
	}
}
@media only screen and (max-width: 579px) {
	.carousel_stock_news_item{
		float: none;
		display: inline-block;
	}
	.resp_nav_btn{
		margin-top: 50px;
	}
	.contacts_list{
		width: 70%;
	}
}
@media only screen and (max-width: 532px){
	[data-strip="strip1"]:before{
		top: 15px;
		-webkit-transform: rotate(10deg);
		   -moz-transform: rotate(10deg);
		    -ms-transform: rotate(10deg);
		     -o-transform: rotate(10deg);
		        transform: rotate(10deg);	
	}
	[data-strip="strip2"]:before{
	    right: 37%;
	}
	[data-strip="strip3"]:before{
		top: 70px;
		-webkit-transform: rotate(10deg);
		   -moz-transform: rotate(10deg);
		    -ms-transform: rotate(10deg);
		     -o-transform: rotate(10deg);
		        transform: rotate(10deg);
	}
	[data-strip="strip4"]:before{
		left: -50px;
		bottom: -38px;
		-webkit-transform: rotate(140deg);
		   -moz-transform: rotate(140deg);
		    -ms-transform: rotate(140deg);
		     -o-transform: rotate(140deg);
		        transform: rotate(140deg);
	}
	.services_box_item {
	    width: 155px;
    }
}
@media only screen and (max-width: 480px) {
	/*-----------------  ARTICLE  ---------------*/
	.img_box2_item {
	    width: 260px;
	    margin-bottom: 20px;
	    float: none !important;
	    display: block;
	    margin: 0 auto 10px;
	}
	.img_box2_item.big_item{
		width: 88% ;
		display: block;
		margin: 0 auto 10px;
		float: none !important;
	}
	.other_img_block_item {
	    width: 42%;
	}
	/*-----------------  OVERALL  ---------------*/
	.overall_img_block_item{
		width: 46%;
	}
	.main_slider{
		max-height: 185px;
	}
}
@media only screen and (max-width: 479px) {
	.header_address_box{
		display: none;
	}
	.header_tel_box{
		display: block;
	}
	/* .logo_box, */
	.contacts_list{
		width: 100%;
	}
	.header_tel{
		padding-top: 15px;
	}
	.resp_nav_btn{
		opacity: 0.8;
		margin-top: 80px;
	}
	.show_menu .resp_nav_btn{
		opacity: 1;
	}
	.logo a{
		margin: auto;
	}
	.navigation_menu{
		width: 230px;
	}
	.show_menu .resp_nav_btn {
	    -webkit-transform: translateX(-230px);
	    -moz-transform: translateX(-230px);
	    -ms-transform: translateX(-230px);
	    -o-transform: translateX(-230px);
	    transform: translateX(-230px);
	}
	.content_main_box{
		text-align: justify;
	}
	.content_main_box .title,
	.services_prices_wrapper{
		text-align: center;
	}
	.download_price_link{
		float: none;
	}
	.img_box{
		margin: 0;
	}
	.img_box_item.big_item,
	.img_box_item{
		width: 100%;
		margin: 0 0 10px 0;
	}
	.img_box_item img{
		width: 100%;
		max-height: 100%;
	}
	.description_list_itemLeft{
		width: auto;
	}
	.description_list_itemRight {
	    color: #999;
	}
	.zoomLens{
		width: 130px !important;
		height: 130px !important;
	}
	.arcticmodal-container_i2{
		padding: 0;
	}
	.arcticmodal_container_box{
		min-width: 300px;
	}	
}
@media only screen and (max-width: 430px) {
	/*-----------------  OVERALL  ---------------*/
	.overall_img_block_item{
		width: 45%;
	}
}
@media only screen and (max-width: 426px) {
	.services_box_item {
	    width: 130px;
	    margin: 0 10px 10px;
    }
    [data-strip="strip2"]:before{
    	right: 29%;
    	-webkit-transform: rotate(-20deg);
    	   -moz-transform: rotate(-20deg);
    	    -ms-transform: rotate(-20deg);
    	     -o-transform: rotate(-20deg);
    	        transform: rotate(-20deg);
    }
    .services_box_item_text {
	    position: relative;
	    z-index: 9;
	    background: white;
	}
}
@media only screen and (max-width: 399px) {
	.score_carousel_item{
		margin: auto;
		float: none;
		display: inline-block;
	}
	.score_carousel{
		text-align: center;
	}
	.other_img_block_item {
	    width: calc(100% - 24px);
	}
}
@media only screen and (max-width: 385px) {
	.footer_container .row > div{
		width: 100%;
		text-align: center;
	}
	.footer_partners_title,
	.footer_contacts_title{
		font-size: 25px;
		margin-bottom: 15px;
	}
	.footer_partners {
	    font-size: 16px;
	    margin-bottom: 15px;
	}
}
@media only screen and (max-width: 380px){
	.shop_figure_box {
    	width: 100%;
	    margin: 0 auto 10px;
	    max-width: 299px;
	    float: none;
	}
	.shop_container_box_item{
		margin: 0;
	}
	.pagination_container_box{
		padding-top: 20px;
	}
	.description_list_itemLeft{
		float: none;
	}
	.description_list_itemRight{
		padding-left: 30px;
	}
}
@media only screen and (max-width: 370px){
	.gallery_wdth_1,
	.gallery_wdth_2,
	.gallery_wdth_3,
	.gallery_wdth_4,
	.gallery_wdth_5,
	.gallery_wdth_6,
	.gallery_wdth_7,
	.gallery_wdth_8,
	.gallery_wdth_9,
	.gallery_wdth_10{
		width: calc(50% - 10px);
	}
	.grid_col, 
	.gallery_img {
	    height: 100px;
	}
	.services_prices_box_item{
		width: 100%;
		margin: 10px 0 0 0;
	}
	.services_prices_box_item img{
		width: 100%;
	}
}
@media only screen and (max-width: 360px) {
	/*-----------------  OVERALL  ---------------*/
	.overall_img_block_item{
		width: 96%;
	}
}



/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================