/*====>>  Stylesheet Guide START  <<====*/
        

        /*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes main
            3.1) TOUCH hacks
            3.2) POSITIONS blocks (float:)
            3.3) POSITIONS text (text-align:)
            3.4) VERTICALLY align boxs (vertical-align:)
            3.5) INDENTS Zero !IMPORTANT
            3.6) POSITIONS (position:)
            3.7) ZEROING float
            3.8) DISPLAYS (dispay:)
            3.9) LINKS And BUTTONS
            3.10) HOVERS TRANSITION
            3.11) TITLES
            3.12) BACKGROUNDS
            3.13) COLORS
            3.14) GOOGLE FONTS
            3.15) INSTALL FONTS
            3.16) VISIBILITY
            3.17) TEXTAFIELD (placeholder animation)
            3.18) BREADCRUMBS START
        4. HEADER
        5. CONTENT
        6. FOOTER 
        
        <<=========================================>>*/
        

/*====>>  Stylesheet Guide END    <<====*/



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins and other CSS files START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


        @import "../css/reset.css";
        @import "../css/bootstrap.css";
        @import "../css/indent.min.css";
        @import "../css/animate.min.css";
        @import "../font-awesome-4.5.0/css/font-awesome.css";
        @import "../plugins/owl-carousel/owl.carousel.css";
        @import "../plugins/arcticmodal/jquery.arcticmodal.css";
        @import "../plugins/fancybox/jquery.fancybox.css";
        @import "../css/plugins.css";
        /* @import "../css/alex.css"; */
        /* @import "../css/style_l.css"; */


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins And Other CSS files END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


    article,
    aside,
    audio,
    canvas,
    command,
    datalist,
    details,
    embed,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    keygen,
    meter,
    nav,
    output,
    progress,
    section,
    source,
    video{
        display:block;
    }
    mark,
    rp,
    rt,
    ruby,
    summary,
    time{
        display:inline;
    }
    span,
    img,
    a{
       display: inline-block; 
    }

    html {width:100%;}

    body {
        font-family: 'Conv_GEORGIA', Arial, Helvetica, sans-serif;
        font-size:17px;
        line-height:inherit;
        color:#363434;
        min-width:320px;
        -webkit-text-size-adjust: none;
    }
    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    ::selection{
        color: #fff;
        background-color: #67b602;
    }

   ::-moz-selection{
        color: #fff;
        background-color: #67b602;
    }

   ::-webkit-scrollbar{
        background: #e6e6e6;
        width: 10px;
    }

   ::-webkit-scrollbar-thumb{background: rgba(126, 168, 10, .80);}/* #7EA80A */

    hr{
        border: none;
        border-top: 1px solid #888;
        margin: 0;
    }

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  
<================================================*/




        /*=======================>  TOUCH hacks START  <=======================*/


            input,
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*=======================>  POSITIONS blocks (float:) START  <=======================*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}


        /*=======================>  POSITIONS text (text-align:) START  <=======================*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*=======================>  VERTICALLY align boxs (vertical-align:) START  <=======================*/
        

            .val_mid{vertical-align: middle;}
            .val_bot{vertical-align: bottom;}
            .val_top{vertical-align: top;}
        

        /*=======================>  INDENTS Zero !IMPORTANT START  <=======================*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*=======================>  POSITIONS (position:) START  <=======================*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 99;
            }


        /*=======================>  ZEROING float START  <=======================*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after,
            .container:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*=======================>  DISPLAYS (dispay:) START  <=======================*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}
            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*=======================>  LINKS And BUTTONS START  <=======================*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            a {
                color:#666;
                outline:none;
                text-decoration:underline;
                display: inline-block;
            }
            a:hover{
                color:#555;
                text-decoration:none;
            }
            button{
                border: none;
                padding: 10px 10px 10px 10px;
                display: inline-block;
                background-color: gray;
                color: #FFF;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                text-transform: uppercase;
            }
            [class*="btn_"]{
                padding: 13.5px 29px;
                font-size: 13px;
                line-height: 15px;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                color: #fff;
                text-transform: uppercase;
            }


        /*======================>>  HOVERS TRANSITION START <<======================*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*======================>  TITLES START  <======================*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 20px;
            }
            
            .title{
                font-size: 33px;
                line-height: 1.2;
                color:#4e4e4e;
                font-family: 'book_antiquaregular';
            }

            .title1{
                font-size: 25px;
                line-height: 1.2;
                color:#282626;
                font-family: 'book_antiquaregular';
            }

            .title2{
                font-size: 20px;
                line-height: 1.2;
                color:#000;
            }

            .it{font-style:italic;}

            .let{letter-spacing:-1px;}

            .reg {text-transform:uppercase;}

            .td_und{text-decoration: underline;}
            .td_und:hover{text-decoration: none;}

            .td_und_no{text-decoration: none;}
            .td_und_no:hover{text-decoration: underline;}

            .td_no{text-decoration: none !important;}


        /*=======================>  BACKGROUNDS START  <=======================*/


            .bg_none{ background:none !important;}
            .bg_black{background-color: #000;}
            .bg_white{background-color: #fff;}

            .btn_gray{
                background-color: gray;
            }

        /*=======================>  COLORS START  <=======================*/


            .white{ color: #FFF;}
            .black{ color: #000;}


        /*======================>  GOOGLE FONTS START  <======================*/
            /* georgia fonts Start */
            .georgia_reg{
                font-family: 'Conv_GEORGIA';
                font-weight: normal;
                font-style: normal;
            }
            .georgia_bold{
                font-family: 'Conv_GEORGIAB';
                font-weight: normal;
                font-style: normal;
            }
            .georgia_it{
                font-family: 'Conv_GEORGIAI';
                font-weight: normal;
                font-style: normal;
            }
            .georgia_bdIt{
                font-family: 'Conv_GEORGIAZ';
                font-weight: normal;
                font-style: normal;
            }
            /* georgia fonts End */


            /* book fonts Start*/
            .book_bd{
                font-family: 'book_antiquabold';
                font-weight: normal;
                font-style: normal;
            }
            .book_bdIt{
                font-family: 'book_antiquabold_italic';
                font-weight: normal;
                font-style: normal;
            }
            .book_it{
                font-family: 'book_antiquaitalic';
                font-weight: normal;
                font-style: normal;
            }
            .book_reg{
                font-family: 'book_antiquaregular';
                font-weight: normal;
                font-style: normal;
            }
            /* book fonts End*/
            
            /* sylfaen fonts Start (для рубля)*/
            
            .rub{font-family: 'Conv_8294';line-height: normal;display: inline-block;}

            /* sylfaen fonts End (для рубля)*/


        /*======================>  INSTALL FONTS START  <======================*/
        
            /* book fonts Start*/
            @font-face {
                font-family: 'book_antiquabold';
                src: url('../fonts/antquab-webfont.eot');
                src: url('../fonts/antquab-webfont.eot?#iefix') format('embedded-opentype'),
                     url('../fonts/antquab-webfont.woff2') format('woff2'),
                     url('../fonts/antquab-webfont.woff') format('woff'),
                     url('../fonts/antquab-webfont.ttf') format('truetype'),
                     url('../fonts/antquab-webfont.svg#book_antiquabold') format('svg');
                font-weight: normal;
                font-style: normal;

            }
            @font-face {
                font-family: 'book_antiquabold_italic';
                src: url('../fonts/antquabi-webfont.eot');
                src: url('../fonts/antquabi-webfont.eot?#iefix') format('embedded-opentype'),
                     url('../fonts/antquabi-webfont.woff2') format('woff2'),
                     url('../fonts/antquabi-webfont.woff') format('woff'),
                     url('../fonts/antquabi-webfont.ttf') format('truetype'),
                     url('../fonts/antquabi-webfont.svg#book_antiquabold_italic') format('svg');
                font-weight: normal;
                font-style: normal;

            }

            @font-face {
                font-family: 'book_antiquaitalic';
                src: url('../fonts/antquai-webfont.eot');
                src: url('../fonts/antquai-webfont.eot?#iefix') format('embedded-opentype'),
                     url('../fonts/antquai-webfont.woff2') format('woff2'),
                     url('../fonts/antquai-webfont.woff') format('woff'),
                     url('../fonts/antquai-webfont.ttf') format('truetype'),
                     url('../fonts/antquai-webfont.svg#book_antiquaitalic') format('svg');
                font-weight: normal;
                font-style: normal;

            }

            @font-face {
                font-family: 'book_antiquaregular';
                src: url('../fonts/bkant-webfont.eot');
                src: url('../fonts/bkant-webfont.eot?#iefix') format('embedded-opentype'),
                     url('../fonts/bkant-webfont.woff2') format('woff2'),
                     url('../fonts/bkant-webfont.woff') format('woff'),
                     url('../fonts/bkant-webfont.ttf') format('truetype'),
                     url('../fonts/bkant-webfont.svg#book_antiquaregular') format('svg');
                font-weight: normal;
                font-style: normal;

            }
            /* book fonts End*/

            /* georgia fonts Start */
            @font-face {
                font-family: 'Conv_GEORGIA';
                src: url('../fonts/GEORGIA.eot');
                src: local('☺'), 
                    url('../fonts/GEORGIA.woff') format('woff'), 
                    url('../fonts/GEORGIA.ttf') format('truetype'), 
                    url('../fonts/GEORGIA.svg') format('svg');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'Conv_GEORGIAB';
                src: url('../fonts/GEORGIAB.eot');
                src: local('☺'),
                    url('../fonts/GEORGIAB.woff') format('woff'), 
                    url('../fonts/GEORGIAB.ttf') format('truetype'), 
                    url('../fonts/GEORGIAB.svg') format('svg');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'Conv_GEORGIAI';
                src: url('../fonts/GEORGIAI.eot');
                src: local('☺'), 
                    url('../fonts/GEORGIAI.woff') format('woff'), 
                    url('../fonts/GEORGIAI.ttf') format('truetype'), 
                    url('../fonts/GEORGIAI.svg') format('svg');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'Conv_GEORGIAZ';
                src: url('../fonts/GEORGIAZ.eot');
                src: local('☺'), 
                    url('../fonts/GEORGIAZ.woff') format('woff'), 
                    url('../fonts/GEORGIAZ.ttf') format('truetype'), 
                    url('../fonts/GEORGIAZ.svg') format('svg');
                font-weight: normal;
                font-style: normal;
            }
            /* georgia fonts End */
            
            /* sylfaen fonts Start (для рубля)*/
            @font-face {
                font-family: 'Conv_8294';
                src: url('../fonts/8294.eot');
                src: local('☺'), 
                    url('../fonts/8294.woff') format('woff'), 
                    url('../fonts/8294.ttf') format('truetype'), 
                    url('../fonts/8294.svg') format('svg');
                font-weight: normal;
                font-style: normal;
            }
            /* sylfaen fonts End (для рубля)*/



            .bold{
                font-weight: 700;
            }
            .f_styleItalic{
                font-style: italic;
            }

        /*======================>  VISIBILITY START  <======================*/
        

            .visible{
                visibility: visible;
            }
            .invisible{
                visibility: hidden;
            }


        /*======================>  TEXTAFIELD (placeholder animation) START  <======================*/
        
            /*===  input start  ===*/
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 2px solid red;    
            }

            input::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

            input:focus::-webkit-input-placeholder {
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus::-moz-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus:-moz-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus:-ms-input-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            textarea::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                color: #26292D;
                font-size: 18px;
            }
            textarea::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                color: #26292D;
                font-size: 18px;
            }
            textarea:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                color: #26292D;
                font-size: 18px;
            }
            textarea:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                color: #26292D;
                font-size: 18px;
            }

            textarea:focus::-webkit-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus::-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-ms-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            /*===  textarea end    ===*/
            


        /*======================>  BREADCRUMBS START  <======================*/
            
            .breadcrumbs_container{
                background-color: #fff;
            }
                .breadcrumbs{
                    display: block;
                    list-style: none;
                    margin: 8px 0 0 0;
                }
                    .breadcrumbs_it{
                        position: relative;
                        float: left;
                        margin-right: 4px;
                        padding-right: 8px;
                    }
                    .breadcrumbs_it:before{
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        content: attr(data-bread-arr);
                        color: #5a5a5a;
                        font-size: 15px;
                        line-height: 18px;
                    }
                    .breadcrumbs .breadcrumbs_it:last-child:before{
                        display: none;
                    }
                        .breadcrumbs_it a{
                            text-decoration: none;
                            color: #5a5a5a;
                        }
                        .breadcrumbs .breadcrumbs_it:first-child a{padding-left: 0;}
                        .breadcrumbs_it a:hover span{
                            text-decoration: underline;
                        }
                            .breadcrumbs_current{
                                font-size: 14px;
                                line-height: 19px;
                                color: #5a5a5a;
                            }




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    header {
        overflow: hidden;
    }
        .header_top{
            padding-top: 6px;
            padding-bottom: 8px;
        }
        .logo_box{
            
        }
            .logo{
              
            }
                .logo a{
                    display:block;
                    width:69px;
                    height:88px;
                    background:url(../images/logo.png) 0 0 no-repeat;
                    text-decoration:none;
                    text-indent:-9999px;
                    font-size: 0;
                }
        .header_address_box{

        }            
            .header_address{
                font-size: 19px;
                color: #3d3d3d;
                margin-left: 42px;
            }
                .header_address_title{
                    font-size: 21px;
                    color: #254211;
                    margin-bottom: 0;
                    padding-top: 20px;
                }

        .header_tel_box{
            
        }
            .header_tel{
                padding-top: 13px;
                text-align: right;
                font-size: 22px;
                font-family: 'book_antiquabold', Arial, Helvetica, sans-serif;
            }


    .menu_box{
        
    }
    .menu_box.sticky.is-sticky{
        z-index: 99;
        width: 100% !important;
    }
        .navigation_menu{
            padding: 10px 0 12px; 
        }
            .menu{
                text-align: center;
                margin: 0 -20px;
            }
                .menu_item{
                    display: inline-block;
                    margin: 0 20px;
                }        
                    .menu_link{
                        font-size: 18px;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: #2b2b2b;
                    }
                    .menu_link:hover{
                        color: #fff;
                    }
                    .menu_item.current .menu_link{
                        color: #FFF;
                    }


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

[data-bg="bg1"]{
    background: #999967;
}

[data-bg="bg2"]{
    background: url(../images/stock_news_bg.jpg) 0 0 repeat;
}

[data-bg="bg3"]{
    background: url(../images/services_prices_bg.jpg) 0 0 no-repeat;
}

[data-bg="bg4"]{
    background: url(../images/score_carousel_bg.jpg) 0 0 repeat;
}

[data-bg="bg5"]{
    background: #7f7570;
}

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #content { 
        min-height: 460px;
    }
    .padd_content_block{
        padding: 20px 0 30px; 
    }
    .main_slider{
        max-height: 541px;
        overflow: hidden;   
        height: 100%;
    }
    .main_slider .owl-carousel{
        display: block;
    }
    .main_slider .owl-controls .owl-nav{
        display: none;
    }
    .main_slider .owl-controls .owl-dots{
        margin: 0 -6px;   
        position: absolute;
        bottom: 30px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
        .main_slider .owl-controls .owl-dots .owl-dot{
            display: inline-block;
            width: 18px;
            height: 18px;
            background: rgba(255, 255, 255, .7);
            border: 1px solid #fff;
            border-radius: 100%;
            margin: 0 6px;
        }
        .main_slider .owl-controls .owl-dots .owl-dot.active{
            background: #fff;
        }

    .stock_news_box{
        /* padding: 20px 0 30px; */
        overflow: hidden;
        max-height: 425px;
        height: 100%;
    }
    .carousel_stock_news_wrap{
        margin: 0 -42px;
    }
        .carousel_stock_news{
            max-height: 315px;
            height: 100%;
            overflow: hidden;
            padding: 0 42px;
        }
            .carousel_stock_news_item{
                cursor: pointer;
                position: relative;
                border: 2px solid #c5c5c5;
                float: left;
                width: 398px;
                height: 100%;
                max-width: 100%;
                max-height: 315px;
                overflow: hidden;
            }
            .carousel_stock_news_item > img{
                -webkit-transition: all ease 0.6s;
                   -moz-transition: all ease 0.6s;
                    -ms-transition: all ease 0.6s;
                     -o-transition: all ease 0.6s;
                        transition: all ease 0.6s;
            }
            .carousel_stock_news_item:hover > img{
                -webkit-transform: scale(1.1);
                   -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                     -o-transform: scale(1.1);
                        transform: scale(1.1);
                -webkit-transition: transform ease 0.6s;
                   -moz-transition: transform ease 0.6s;
                    -ms-transition: transform ease 0.6s;
                     -o-transition: transform ease 0.6s;
                        transition: transform ease 0.6s;
            }
                .carousel_stock_news_item_text{
                    color: #fff;
                    font-size: 21px;
                    position: absolute;
                    bottom: 0;
                    left: -1px;
                    right: -1px;
                    padding: 9px 15px 6px;
                }
                [data-bg-item="carousel_stock_bg1"]{
                    background: rgba(183, 167, 144, .93);
                }
                [data-bg-item="carousel_stock_bg2"]{
                    background: rgba(127, 117, 112, .93);
                }
                [data-bg-item="carousel_stock_bg3"]{
                    background: rgba(186, 132, 80, .93);
                }

                .stock_news_box .owl-controls .owl-dots{
                    display: none !important;
                }

                .stock_news_box .owl-controls .owl-nav .owl-prev,
                .stock_news_box .owl-controls .owl-nav .owl-next{
                    width: 26px;
                    height: 52px;
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                .stock_news_box .owl-controls .owl-nav .owl-prev{
                    background: url(../images/slide_arrow_left.png) 0 0 no-repeat;
                    /* left: -42px; */
                    left: 0;
                }
                .stock_news_box .owl-controls .owl-nav .owl-next{
                    background: url(../images/slide_arrow_right.png) 0 0 no-repeat;
                    /* right: -42px; */
                    right: 0;
                }


    .services_box_wrapper{
        margin: 0 -25px;
    }        

        .services_box_item{
            width: 208px;
            float: left;
            margin: 0 25px;
            z-index: 9999;
        }        

            .services_box_item_img{
                border: 3px solid #ada086;
                width: 100%;
                height: auto;
                border-radius: 50%;
                margin-bottom: 10px;
                position: relative;
            }
                .services_box_item_img_it{
                    overflow: hidden;
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                    max-width: 100%;
                    max-height: 100%;
                    position: relative;
                    z-index: 9;
                }
                .services_box_item_img img{
                    border-radius: 50%;
                }

            .services_box_item_text{
                font-size: 21px;
                color: #282626;
            }

            [data-strip="strip1"],
            [data-strip="strip2"],
            [data-strip="strip3"],
            [data-strip="strip4"]{
                position: relative;
            }
                [data-strip="strip1"]:before{
                    content: "";
                    position: absolute;
                    width: 149px;
                    height: 33px;
                    background: url(../images/services_box_istrip.png) 0 0 no-repeat;
                    top: -18px;
                    left: 78%;
                }
                [data-strip="strip2"]:before{
                    content: "";
                    position: absolute;
                    width: 149px;
                    height: 33px;
                    background: url(../images/services_box_istrip2.png) 0 0 no-repeat;
                    bottom: -17px;
                    left: 78.3%;
                }
                [data-strip="strip3"]:before{
                    content: "";
                    position: absolute;
                    width: 149px;
                    height: 33px;
                    background: url(../images/services_box_istrip3.png) 0 0 no-repeat;
                    top: -18px;
                    left: 77.7%;
                }
                [data-strip="strip4"]:before{
                    content: "";
                    position: absolute;
                    width: 149px;
                    height: 33px;
                    background: url(../images/services_box_istrip4.png) 0 0 no-repeat;
                    bottom: -18px;
                    left: 78.3%;
                }
        
        .services_prices_box{
            margin: 0 -0.8% 25px;
        }
            .services_prices_box_item{
                /* width: 18.4%; */
                width: 231px;
                border: 2px solid #c5c5c5;
                position: relative;
                float: left;
                margin: 0 0.8%;
                cursor: pointer;
                overflow: hidden;
            }     

                .services_prices_box_item_text{
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    right: 0;
                    color: #fff;
                    font-size: 21px;
                    padding: 14px 5px 11px;
                }
                .hover_box:hover .hover_box_hide{
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: all ease 0.5s;
                       -moz-transition: all ease 0.5s;
                        -ms-transition: all ease 0.5s;
                         -o-transition: all ease 0.5s;
                            transition: all ease 0.5s;
                }
                .services_prices_box_item_text_list{
                    visibility: hidden;
                    opacity: 0;
                    text-align: left;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: -1px;
                    left: 0;
                    color: #000;
                    background: rgba(255, 255, 255, .9);
                }
                    .services_prices_box_item_text_list_item{
                        /* font-size: 19px; */
                        font-size: 18px;
                        line-height: 1.1;
                        position: relative;
                        /* padding-left: 18px; */
                        padding-left: 14px;
                        padding-right: 8px;
                    }
                        .services_prices_box_item_text_list_item:before{
                            content: "";
                            position: absolute;
                            display: block;
                            width: 6px;
                            height: 5px;
                            background: url(../images/mark_list.png) 0 0 no-repeat;
                            top: 9px;
                            /* left: 8px; */
                            left: 5px;
                        }
                        .services_prices_box_item_text_list_item .circle_figure_link{
                            line-height: normal;
                        }

                .services_prices_box_item:hover .services_prices_box_item_text{
                    
                }  
                .services_prices_box_item:hover .services_prices_box_item_text_list{
                    
                }

                [data-services-prices-bg="bg1"]{
                    background: rgba(151, 176, 95, .9);
                }
                [data-services-prices-bg="bg2"]{
                    background: rgba(184, 119, 53, .9);
                }
                [data-services-prices-bg="bg3"]{
                    background: rgba(90, 107, 61, .9);
                }
                [data-services-prices-bg="bg4"]{
                    background: rgba(165, 140, 69, .9);
                }
                [data-services-prices-bg="bg5"]{
                    background: rgba(84, 119, 60, .9);
                }

            .download_price_link{
                font-size: 18px;
                color: #395228;
                border: 2px solid #c5c5c5;
                padding: 9px 71px 8px 16px;
                position: relative; 
            }
                .download_price_link:hover{
                    color: #395228;
                }
                .download_price_link:after{
                    content: "";
                    position: absolute;
                    width: 26px;
                    height: 23px;
                    background: url(../images/download_price_img.png) 0 0 no-repeat;
                    right: 14px;
                }
        
        .img_box_article{
            overflow: hidden;
        }

        .img_box{
            margin: 0 -6px 0 -7px;
        }
            .img_box_sub{
                width: 32.29%;
                margin: 0 6px 13px 0;
            }
                .img_box_sub .img_box_item{
                    width: 100%;
                }

            .img_box_item{
                border: 2px solid #c5c5c5;
                float: left;
                position: relative;
                width: 32.29%;
                height: auto;
                margin: 0 6px 13px 7px;
                overflow: hidden;
            }
            .grid_col_main{
                float: left;   
            }
            .img_box > .img_box_item:first-child .img_box_item_text{
                font-size: 40px;
                position: absolute;
                bottom: 0px;
                left: 0;
                right: 0;
                top: 0;
                height: 100%;
            }
                .img_box > .img_box_item:first-child .img_box_item_text span{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    -webkit-transform: translateY(-50%);
                       -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                         -o-transform: translateY(-50%);
                            transform: translateY(-50%);
                }
                
                .img_box_item.big_item{
                    width: 65.7%;
                    float: right;
                }

                .img_box_item_text{
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    font-size: 22px;
                    color: #fff;
                    padding: 18px 0 17px; 
                    margin-bottom: 0;
                    height: 60px;
                }   
                    .img_box_item_text span{
                        display: block;
                    }

                [data-bg-img-box="bg1"]{
                    background: rgba(137, 180, 130, .93);
                }
                [data-bg-img-box="bg2"]{
                    background: rgba(183, 167, 144, .93);
                }
                [data-bg-img-box="bg3"]{
                    background: rgba(84, 119, 60, .93);
                }
                [data-bg-img-box="bg10"]{
                    background: rgba(90, 107, 61, .93);
                }
                [data-bg-img-box="bg11"]{
                    background: rgba(92, 121, 91, .93);
                }
                [data-bg-img-box="bg12"],
                [data-services-prices-bg="bg12"]{
                    background: rgba(149, 118, 87, .93);
                }
                .overall_img_block_item:hover [data-bg-img-box="bg3"]{
                    background: rgba(84, 119, 60, .6);
                }
                .other_img_block_item:hover [data-services-prices-bg="bg12"]/* ,
                .services_prices_box_item]:hover [data-services-prices-bg="bg12"] */{
                    background: rgba(149, 118, 87, .6);
                }
    .score_carousel_container{
        
    }
        .score_carousel_container > .title{
            margin-top: 5px;
        }
        .score_carousel_box{
            padding: 30px 0 13px; 
        }        
        .score_wrap{
            margin: 0 -42px;
            overflow: hidden;
            max-height: 282px;
            height: 100%;
        }
            .score_carousel{
                padding: 0 42px;
            }
            .score_carousel_item{
                width: 100%;
                height: 100%;
                max-height: 262px;
                max-width: 228px;
                float: left;
                position: relative;
            }        
            
                .score_carousel_item_img{
                    border: 2px solid #e9e9e9;
                    margin-bottom: 15px;
                }

                .score_carousel_item_name{
                    font-family: 'book_antiquaregular';
                    font-size: 18px;
                }
                .owl-carousel{cursor: -webkit-grab;}
                .score_carousel .owl-controls .owl-dots{
                    display: none !important;
                }

                .score_carousel .owl-controls .owl-nav .owl-prev,
                .score_carousel .owl-controls .owl-nav .owl-next{
                    width: 26px;
                    height: 52px;
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                .score_carousel .owl-controls .owl-nav .owl-prev{
                    background: url(../images/slide_arrow_left.png) 0 0 no-repeat;
                    left: 0px;
                }
                .score_carousel .owl-controls .owl-nav .owl-next{
                    background: url(../images/slide_arrow_right.png) 0 0 no-repeat;
                    right: 0px;
                }

        .score_carousel_hr{
            border:none;
            width: 100%;
            height: 2px;
            background: #bfbfbf;
        }  

        
        .contacts_box_text{
            color: #2d4020;
            font-size: 17px;
        }
        .contacts_list{
            color: #2d4020;
            margin-bottom: 29px;
        }
            .contacts_list_title{
                font-weight: bold;
                margin-bottom: 10px;
            }  

            .contacts_list_item {
                font-family: 'book_antiquaregular';
            }   

        .contact_email_link{
            color: #2d4020;
        }   
            .contact_email_link:hover{
                color: #2d4020;    
            }  

        .contacts_map{
            border: 2px solid #c5c5c5;
            height: 100%;
            width: 100%;
            max-height: 434px;
            max-width: 769px;
            display: inline-block;
            overflow: hidden;
        }    
            .contacts_map img{
                -webkit-transition: all ease 0.5s;
                   -moz-transition: all ease 0.5s;
                    -ms-transition: all ease 0.5s;
                     -o-transition: all ease 0.5s;
                        transition: all ease 0.5s;
            }
            .contacts_map:hover img{
                -webkit-transform: scale(1.2);
                   -moz-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                     -o-transform: scale(1.2);
                        transform: scale(1.2);
                -webkit-transition: transform ease 0.5s;
                   -moz-transition: transform ease 0.5s;
                    -ms-transition: transform ease 0.5s;
                     -o-transition: transform ease 0.5s;
                        transition: transform ease 0.5s;
            }
    
/*Shop page Start */
    .shop_container_box{
        margin-bottom: 23px;
    }
        .shop_container_box_item{
            margin: 0 -7px;
        }
            .shop_figure_box{
                /* width: 299px; */
                width: 23.844%;
                margin: 0 7px 35px;
                position: relative;
                float: left;
            }
                .shop_figure_box_img{
                    /* width: 299px; */
                    width: 100%;
                    height: 100%;
                    max-height: 291px;
                    border: 2px solid #E9E9E9;
                    position: relative;
                    margin-bottom: 11px;
                }
                    .shop_figure_img{
                        max-height: 100%;
                    }
                    .shop_figure_name_product{
                        font-size: 20px;
                        line-height: 50px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 50px;
                        background-color: rgba(245, 245, 245, 0.8);
                    }
                .shop_figure_price{
                    text-transform: uppercase;
                    font-size: 22px;
                    line-height: 1.2;
                }



    .pagination_container_box{
        text-align: center;
    }
        .pagination_list_box{
            padding-bottom: 20px;
            border-bottom: 2px solid #BFBFBF;
        }
            .pagination_list_item{
                display: inline-block;
            }
                .pagination_list_link{
                    padding: 5px 10px;
                    font-size: 19px;
                    line-height: 1;
                    text-align: center;
                    color: #5F5F5F;
                }
                .pagination_list_item.current .pagination_list_link,
                .pagination_list_link:hover{
                    color: #2e6508;
                    text-shadow: 1px -1px 0px #2e6508;
                    -webkit-transition: transform ease 0.5s;
                       -moz-transition: transform ease 0.5s;
                        -ms-transition: transform ease 0.5s;
                         -o-transition: transform ease 0.5s;
                            transition: transform ease 0.5s;
                }



    .can_order_box{
        margin-bottom: 48px;
    }
        .can_order_box .title1{
            color: #4E4E4E;
        }
        .circle_figure_order_container{
            /* margin: 0 -7px; */
            text-align: center;
        }
            .circle_figure_order_box{
                width: 299px;
                margin: 0 3px;
                display: inline-block;
                /* width: 23.844%; */
                /* margin: 0 7px; */
                /* float: left; */
            }
                .circle_figure_img_box{
                    /* height: 299px; */
                    /* width: 299px; */
                    width: 100%;
                    height: 100%;
                    max-height: 299px;
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                    overflow: hidden;
                    position: relative;
                    border: 2px solid #c5c5c5;
                    margin-bottom: 12px;
                    z-index: 9;
                }
                    .circle_figure_img_box_item{
                        
                    }
                        .circle_figure_img_box_item img{
                            
                        }
                    .circle_figure_img_overlay{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 9;
                        background-color: rgba(255, 255, 255, 0.9);
                        opacity: 0;
                        visibility: hidden;
                        -webkit-border-radius: 50%;
                                border-radius: 50%;
                        overflow: hidden;
                        text-align: left;
                    }
                    .hover_box:hover .circle_figure_img_overlay{
                        -webkit-animation-duration: 0.9s;
                        -moz-animation-duration: 0.9s;
                        -o-animation-duration: 0.9s;
                        animation-duration: 0.9s;
                        -webkit-animation-fill-mode: both;
                        -moz-animation-fill-mode: both;
                        -o-animation-fill-mode: both;
                        animation-fill-mode: both;
                        -webkit-animation-name: swashIn;
                        animation-name: swashIn;
                        visibility: visible;
                        opacity: 1;
                    }
                     @-webkit-keyframes swashIn {
                        0% {
                            -webkit-transform-origin: 50% 50%;
                            -webkit-transform: scale(0, 0);
                        }

                        100% {
                            opacity: 1;
                            -webkit-transform-origin: 50% 50%;
                            -webkit-transform: scale(1, 1);
                        }
                    }
                    @keyframes swashIn {
                        0% {
                            transform-origin: 50% 50%;
                            transform: scale(0, 0);
                        }

                        100% {
                            opacity: 1;
                            transform-origin: 50% 50%;
                            transform: scale(1, 1);
                        }
                    }
                        .circle_figure_list{
                            padding: 33px 0 35px 50px;
                        }
                            .circle_figure_list_item{
                                padding-left: 11px;
                                position: relative;
                            }
                                .circle_figure_list_item:before{
                                    content: "";
                                    width: 5px;
                                    height: 5px;
                                    background-color: #282626;
                                    -webkit-border-radius: 50%;
                                            border-radius: 50%;
                                    display: inline-block;
                                    top: 50%;
                                    left: 0;
                                    margin-top: -2.5px;
                                    position: absolute;
                                }
                                .circle_figure_list_item:hover:before{
                                    background-color: #67B602;
                                }
                                .circle_figure_link{
                                    font-size: 19px;
                                    line-height: 23px;
                                    color: #282626;
                                }
                                .circle_figure_link:hover{
                                    color: #67B602;
                                }

                .circle_figure_text{
                    text-align: center;
                }
                    .circle_figure_text a{
                        font-size: 21px;
                        line-height: 1;
                        color: #282626;
                        text-decoration: none;
                    }
            .hover_box_show{
                -webkit-transition: all ease 0.8s;
                   -moz-transition: all ease 0.8s;
                    -ms-transition: all ease 0.8s;
                     -o-transition: all ease 0.8s;
                        transition: all ease 0.8s;
            }
            .hover_box:hover .hover_box_show{
                -webkit-transition: all ease 0.8s;
                   -moz-transition: all ease 0.8s;
                    -ms-transition: all ease 0.8s;
                     -o-transition: all ease 0.8s;
                        transition: all ease 0.8s;
                visibility: visible;
                opacity: 1;         
            }
           

    /* popup start */
    
    .shop_popup_container{
        
    }
        .shop_popup_colLeft{
            max-width: 416px;
            width: 100%;
            margin-right: 59px;
        }
            .shop_popup_big_img{
                width: 100%;
                height: 100%;
                max-height: 404px;
                border: 2px solid #dcdcdc;
            }
                .shop_popup_big_img img{
                    width: 100%;
                    max-height: 100%;
                }
                    .zoomContainer{
                        z-index: 9999;
                    }
                    .zoomLens{
                        cursor: pointer;
                    }
                #gallery{
                    margin: 22px -3px 0 -3px;
                }
                    #gallery a{
                        width: 131px;
                        height: 128px;
                        border: 2px solid #dcdcdc;
                        margin: 0 3px;
                    }
                        #gallery a.active{
                            border: 2px solid #000; 
                        }
                        #gallery a img{
                        
                        }


        .shop_popup_colRight{
            /* max-width: 486px; */
            /* width: 100%; */
            overflow: hidden;
        }
            .popup_title{
                color: #000;
                font-size: 22px;
                line-height: 1.2;
                padding-bottom: 4px;
                border-bottom: 1px solid #bfbfbf;
                margin-bottom: 15px;
            }
            .popup_text_box{
                
            }
                .popup_shirt_text{
                    color: #1B1412;
                    font-size: 17px;
                    line-height: 20px;
                    margin-bottom: 20px;
                }
                .popup_shirt_text:last-child{
                    margin-bottom: 46px;
                }

            .description_container{
                border-bottom: 1px solid #bfbfbf;
                margin-bottom: 15px;
            }
                .description_title{
                    font-size: 18px;
                    line-height: 37px;
                    color: #000;    
                    min-height: 37px;
                    border-top: 1px solid #bfbfbf;
                    border-bottom: 1px solid #bfbfbf;
                    background-color: #F4F4F4;
                    padding-left: 10px;
                    margin-bottom: 15px;
                }
                .description_list_box{
                    margin-bottom: 15px;
                }
                    .description_list_item{
                        font-size: 16px;
                        line-height: 25px;
                    }
                        .description_list_itemLeft{
                            /* width: 298px; */
                            /* max-width: 100%; */
                            width: 61.32%;
                            padding: 0 10px 0 10px;
                            float: left;
                        }
                        .description_list_itemRight{
                            /* width: 188px;
                            max-width: 100%;
                            float: left; */
                            overflow: hidden;
                        }

    /* popup end */
/* Shop page End */


/* Gallery page Start */
    .gallery_container_box{
        /* width: 1264px; */
        /* margin: auto; */
    }
        .gallery_item{
            
        }
        .isotope{
            margin: 0 0px 32px 0;
        }
        .isotope:after {
          content: '';
          display: block;
          clear: both;
        }
            .grid_col{
                /* margin: 0 10px 20px 10px; */
                margin: 0 10px 15px 10px;
                float: left;
                height: 405px;
            }
            .gallery_wdth_1{
                /* width: 257px; */
                width: 20%;
            }
            .gallery_wdth_2{
                /* width: 706px; */
                width: 55%;
            }
            .gallery_wdth_3{
                /* width: 259px; */
                width: 20%;
            }
            .gallery_wdth_4{
                /* width: 621px; */
                width: 48.3%;
            }
            .gallery_wdth_5{
                /* width: 621px; */
                width: 48.3%;
            }
            .gallery_wdth_6{
                /* width: 482px; */
                width: 37.5%;
            }
            .gallery_wdth_7{
                /* width: 257px; */
                width: 20%;
            }
            .gallery_wdth_8{
                /* width: 483px; */
                width: 37.6%;
            }
            .gallery_wdth_9{
                /* width: 483px; */
                width: 37.6%;
            }
            .gallery_wdth_10{               
                /* width: 759px; */
                width: 59.1%;
            }
                .gallery_link{
                    display: block;
                }
                    .gallery_img{
                        width: 100%;
                        display: block;
                    }
                    
/* Gallery page End */
.other_img_box_item_text[data-bg-img-box="bg4"]{
    background: rgba(92, 121, 91, .9);
}
.overall_img_block_item:hover .other_img_box_item_text[data-bg-img-box="bg4"]{
    background: rgba(92, 121, 91, .6);
}


.img_box2{
    margin-bottom: 30px;
}
    .img_box2_item{
        width: 40.5%;
        padding: 9px;
        height: 405px;
        border: 1px solid #a1a1a1;
    }
    .img_box2_item.big_item{
        width: 56%;
    }
    .img_box2_item_big{
        width: 100%;
        padding: 9px;
        border: 1px solid #a1a1a1;
    }
        .img_box2_item img{
            width: 100%;
            height: 100%;
        }
    .other_info{
        margin-top: 35px;
        padding-top: 20px;
        padding-bottom: 10px;
        position: relative;
        border-top: 2px solid #BFBFBF;
    }
        .other_info_boxes{
            margin: 0 -12px;
        }
            .other_img_block_item{
                width: 23.1%;
                margin: 0 12px;
                position: relative;
                border: 2px solid #c5c5c5;
                overflow: hidden;
                display: table;
                margin-bottom: 15px;
            }
                .other_img_block_item img{
                    width: 100%;
                    height: 100%;
                }
                .other_img_box_item_text {
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    font-size: 21px;
                    color: #fff;
                    height: 59px;
                    margin-bottom: 0;
                    display: table;
                    width: 100%;
                    vertical-align: bottom;
                }
                    .other_img_block_item:hover [data-bg-img-box="bg4"]{
                        background: rgba(92, 121, 91, .7);
                    }
                    .other_img_block_item:hover [data-services-prices-bg="bg2"]{
                        background: rgba(184, 119, 53, .7);
                    }
                    .other_img_block_item:hover [data-bg-img-box="bg3"]{
                        background: rgba(84, 119, 60, .7);
                    }
                    .other_img_block_item:hover [data-bg-img-box="bg2"],
                    .overall_img_block_item:hover [data-bg-img-box="bg2"]{
                        background: rgba(183, 167, 144, .7);
                    }
                    .other_img_box_item_text span{
                        vertical-align: middle;
                        display: table-cell;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }

/*--------------------  OVERALL  -----------------*/
.img_box3{
    margin: 0 -11px;
}
    .overall_img_block_item{
        width: 31%;
        margin: 0 11px;
        position: relative;
        border: 2px solid #c5c5c5;
        overflow: hidden;
        display: table;
        margin-bottom: 15px;
    }
        .overall_img_block_item img{
            width: 100%;
            height: 100%;
        }
        .overall_img_box_item_text {
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 21px;
            color: #fff;
            height: 59px;
            margin-bottom: 0;
            display: table;
            width: 100%;
            vertical-align: bottom;
        }
            .overall_img_box_item_text span{
                vertical-align: middle;
                display: table-cell;
            }
    .overall_img_block_item:hover [data-bg-img-box="bg1"]{
        background: rgba(137, 180, 130, .5);
    }
    .overall_img_block_item:hover [data-bg-item="carousel_stock_bg3"]{
        background: rgba(186, 132, 80, .5);
    }
    .overall_img_block_item:hover [data-services-prices-bg="bg3"]{
        background: rgba(90, 107, 61, .5);
    }

    .pagination2{
        margin-top: -15px;
        border-bottom: none;
    }


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  POPUP START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/
    .arcticmodal_container_box{
        /* padding: 40px 50px;  */
    }
        .popup_figure_img{
            max-width: 406px;
            width: 100%;
            border: 2px solid #c5c5c5;
            margin-right: 40px;
        }

        .popup_figure_text{
            /* width: 484px; */
            font-size: 17px;
        }

            .popup_title{
                font-size: 22px;
                border-bottom: 1px solid #bfbfbf;
            }


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  POPUP END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    .footer_container {
        padding:19px 0px 19px 0px;
        color: #d7d7d7;
    }

        .footer_partners{
            font-size: 22px;
        }
        .footer_partners a{
            color: #d7d7d7;
            text-decoration: none;
        }
            .footer_partners_title{
                font-size: 18px;
                margin-bottom: 5px;
            }
            .footer_contacts_title{
                font-size: 20px;
                margin-bottom: 5px;
            }
            .footer_contacts_link_vk{
                font-size: 18px;
                line-height: 30px;
                position: relative;
                padding-left: 46px;
                color: #d7d7d7;
                text-decoration: none;
            }
                .footer_contacts_link_vk:before{
                    content: "";
                    position: absolute;
                    background: url(../images/vk_icon.png) 0 0 no-repeat;
                    width: 30px;
                    height: 30px;
                    left: 0;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                .footer_contacts_link_vk:hover{
                    color: #d7d7d7;
                    text-decoration: underline;
                }

            .footer_copyright{
                font-size: 14px;
                text-align: right;
                margin-top: 22px;
            }
                .footer_copyright a{
                    color: #d7d7d7;
                }
        

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #ahchor{
        
    }
    .ahchor{
        
    }
        .arrow_up {
            position: fixed;
            z-index: 99;
            visibility: hidden;
            opacity: 0;
            right: 50px;
            bottom: 50px;
            cursor: pointer;
            -webkit-transition: all linear 0.2s;
               -moz-transition: all linear 0.2s;
                -ms-transition: all linear 0.2s;
                 -o-transition: all linear 0.2s;
                    transition: all linear 0.2s;
        }
        .arrow_up.active{
            opacity: 0.6;
            visibility: visible;
        }

            .arrow_up .fa-arrow-up{
                border: 3px solid #888;
                width: 70px;
                height: 70px;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                overflow: hidden;
                text-align: center;
                background-color: transparent;
            }
            .arrow_up .fa-arrow-up:before{
                font-size: 30px;
                color: #888;
                line-height: 65px;    
            }
            .arrow_up:hover,
            .arrow_up.click{
                opacity: 1;
                -webkit-transform: scale(1.1);
                   -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                     -o-transform: scale(1.1);
                        transform: scale(1.1);
                -webkit-transition: all ease-in 0.2s;
                   -moz-transition: all ease-in 0.2s;
                    -ms-transition: all ease-in 0.2s;
                     -o-transition: all ease-in 0.2s;
                        transition: all ease-in 0.2s;
            }
            .arrow_up:hover .fa-arrow-up,
            .arrow_up.click .fa-arrow-up{
                background-color: rgba(84, 119, 60, .93);
                border: 3px solid rgba(84, 119, 60, .93);
            }
            .arrow_up:hover .fa-arrow-up:before,
            .arrow_up.click .fa-arrow-up:before{
                color: #fff;            
            }


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/